:root{
    --primary:#292929;
    --secondary:#383838;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary);
    transition: 1s;
    font-family: monospace;
}
body.bodyBackgroundColorAnimate{
    animation: backgroundColorAnimate 1.5s infinite;
}
@keyframes backgroundColorAnimate {
    0% {
        background-color: var(--primary);
    }
    50% {
        background-color: var(--secondary);
    }
    100% {
        background-color: var(--primary);
    }
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
}
#tutor{
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    display: flex;
    transition: 1s;
}
#CreateBoxButton{
    position: absolute;
    top:15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    transition: 0.2s;
    box-shadow: 0px 0px 0px var(--secondary);
}
#CreateBoxButton.createBoxAnimate{
    animation: shadowPulse 1.5s infinite;
}
#CreateBoxButton:hover{
    background-color: #1e1e1e;
    box-shadow: 3px 3px 3px var(--secondary);

}
@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 5px white;
    }
    50% {
        box-shadow: 0 0 20px white;
    }
    100% {
        box-shadow: 0 0 5px white;
    }
}
.info{
    position: absolute;
    top:100px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    transition: 0.2s;
    box-shadow: 0px 0px 0px var(--secondary);
}
.info:hover{
    background-color: #1e1e1e;
    box-shadow: 3px 3px 3px var(--secondary);

}
.plug_button{
    background-color: var(--secondary);
    transition: 0.2s;
}
.plug_button:hover{
    background-color: #1e1e1e;
}
.dragButton{
    background-color: var(--secondary);
    transition: 0.2s;
}
.dragButton:hover{
    background-color: #1e1e1e;
}
.connect{
    position: absolute;
    top: 50px;
    right: 10px
}

#svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: var(--secondary);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black ;
    color: white;
}
.box.boxAnimate{
    animation: shadowPulseBoxes 1.5s infinite;
}
@keyframes shadowPulseBoxes {
    0% {
        box-shadow: 3px 3px 3px white;
    }
    50% {
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.679);
    }
    100% {
        box-shadow: 3px 3px 3px white;
    }
}

#icon{
    position: absolute;
    top: 100px;
    right: 10px;
}
textarea{
    background-color: var(--secondary);
    outline: none;
    border: none;
    padding: 10px;
    color: white;
}
textarea:focus{
    outline: none;
}
button{
    background-color: var(--secondary);
    border: none;
    color: white;
}
line{
    color: white;
    background-color: white;
}